<!DOCTYPE html>
<html>
        <head>
                <title>GitHub Data Downloader</title>
        </head>
        <body>
                <h1> GitHub Data Downloader </h1>
                <p> Successfully authorized to access GitHub on your behalf:{{.Login}}</p>

                <p>
                </p>
                <ul>
                        <li>
                                <a href="/github/export/new">Start New Export</li>
                        <li>
                                <a href="/github/exports">View Exports</a>
                        </li>
                </ul>
                <p>
                </p>
        </body>
</html>