<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Welcome</title>
    </head>
    <body>
        <h1>Welcome from Home</h1>
        {{ if .Fname }}
            Email: {{ .Email }} <br>
            First Name: {{ .Fname }} <br>
            Last Name: {{ .Lname }} <br>
            Password: {{ .Password }} <br>
            Role: {{ .Role }} <br>
            <h2><a href="/logout">Logout</a></h2>
        {{ else }}
            <h2><a href="/signup">SignUp</a></h2> <br>
            <h2><a href="/login">LogIn</a></h2> <br>
        {{ end }}
        <h2>Go To <a href="/bar">The Bar</a></h2>
        <h2>Go To <a href="/admin">Admin</a></h2>
    </body>
</html>